<div class="uk-section  uk-padding-remove-bottom" style="background-color: #e7e7d1;">
    <div class="uk-container uk-position-relative">
        <div class="uk-child-width-1-2@l uk-grid">
            
            <div>
                <div class="uk-card uk-card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minus eligendi quae tempora vero fugit odio aperiam, facilis debitis neque delectus sint obcaecati asperiores dicta cum. Unde laboriosam iusto nesciunt.</p>
                </div>
            </div>
            <div>
                <img src="imagens/bernardino.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-padding-remove back">
    <div class="uk-container uk-position-relative">
        <div >
            <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-between">
                <div class="uk-margin-medium-top" style="margin-left: 290px;">
                    <h3 class="title">Você conhece o Onda branca cast?</h3>
                    <p class="desc">O PrimoCast é o podcast oficial d'O Primo Rico, um dos maiores canais sobre investimentos, finanças e empreendedorismo do mundo.</p>
                </div>
                <div>
                    <a href="" class="uk-button uk-button-default">Ouvir Onda branca cast</a>
                </div>
            </div>
        </div>
        <div style="width: 250px; ; top: -20%; left: 5%;" class="uk-position-bottom-left" >
            <img width="100%" style="border-radius: 20px;" src="imagens/cast.png" alt="">
        </div>
    </div>
</div>