<div class="uk-section  uk-padding-remove-top" style="background-color: #000;">
    <div class="uk-container">
        <div class="hero-box">

            <div class="uk-flex uk-flex-middle">
                <div class="uk-width-1-1 conteudo" style="padding-left: 7%; padding-right: 7%; padding-top: 35%;">

                <div class="uk-grid uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid>

                    <!-- Coluna esquerda -->
                    <div>
                        <h1 class="title" style="font-family: 'Exo 2'; text-transform: uppercase; 
                                background: linear-gradient(#ff9100 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-weight: bold;">
                            Bernardino António
                        </h1>

                        <p style="font-family: 'Exo 2'; color: #272727; font-size: 1.1rem; max-width: 450px; font-weight: 500;">
                            Bernardino António aplica, no ambiente laboral, a experiência acumulada como médico do trabalho e formador em grandes organizações, unindo saúde mental, inteligência emocional e desenvolvimento humano.
                        </p>

                        <img class="logo" src="imagens/logo/logo-gestdreams.png" width="50%" alt="">
                    </div>

                    <!-- Coluna direita -->
                    <div>
                        <h2 class="sub-title" style="margin-top: 15px; font-size: 1.5rem; ; 
                                   font-family: 'Exo 2'; font-weight: 600; color: #272727;">
                            A mudança que o Dr. Bernardino leva para dentro das empresas
                        </h2>

                        <ul class="uk-list" style="font-family: 'Exo 2'; font-weight: 500; color: #272727;">
                            <li><img src="imagens/logo/icon-brain.svg" width="40" alt=""> Clareza emocional e diagnóstico dos principais riscos psicossociais</li>

                            <li><img src="imagens/logo/icon-mao.svg" width="40" alt=""> Equipas mais equilibradas, focadas e colaborativas</li>

                            <li><img src="imagens/logo/icon-paz.svg" width="40" alt=""> Transformação do stress em prevenção e estratégias saudáveis</li>

                            <li><img src="imagens/logo/icon-grafico.svg" width="40" alt=""> Produtividade fortalecida e melhoria contínua na cultura organizacional</li>
                        </ul>
                        <div class="uk-text-center uk-margin-medium-bottom">
                            <a href="#secao-transformacao" uk-scroll class="uk-button uk-button-default " style="background-color: #d17a0a; color: white; border: none; font-size: .98rem; font-family: 'Exo 2'; border-radius: 5px;">Transforma a sua empresa</a>
                        </div>
                    </div>

                </div>
            </div>
            </div>

        </div>
    </div>
</div>