.back{
    background: linear-gradient(to right, #fa8072, #f95846);
}

.title{
    color: white;
    font-family: "Urbanist";
    font-weight: 500;
}

.desc{
    max-width: 400px; 
    font-weight: 400; 
    font-size: 1rem;
    color: white;
}

.uk-button {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff !important;
    color: #fff;
    border: none;
}

.uk-button:hover{
    background-color: #008080;
    border: 2px solid #008080 !important;
    color: white;
}

.titulo{
    font-family: "Urbanist";
    font-size: 1.6rem;
}

.btn{
    background-color: #fa8072;
    color: white;
}