<div class="uk-section uk-padding-remove-top" style="background-color: #272727;">
  
    <div class="uk-container uk-position-relative">
    <!-- Imagem de fundo desktop -->
    <img src="imagens/back-sobre.png" style="border-radius: 10px;" alt="Capa" class="uk-width-1-1 uk-visible@m">

    <!-- Conteúdo principal -->
    <div class="uk-position-center-left" style="left: 7%; ; bottom: 5%;">
        <div class="uk-child-width-1-2@l uk-grid">
            <div>
                <h1 style="font-size: 4.5rem; font-family: 'Exo 2'; text-transform: uppercase; background: linear-gradient(#A58255 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: bold;">Bernardino António</h1>
                <p style="font-family: 'Exo 2'; color: #272727; font-size: 1.2rem; max-width: 450px; font-weight: 500;">Bernardino António aplica, no ambiente laboral, a experiência acumulada como médico do trabalho e formador em grandes organizações, unindo saúde mental, inteligência emocional e desenvolvimento humano.</p>
                <p style="font-family: 'Exo 2'; color: #272727; font-size: 1.2rem; max-width: 450px; font-weight: 500;">Reconhecido nacional e internacionalmente, já capacitou equipas em instituições como a Academia Sonangol e aprofunda estudos em Felicidade Organizacional para criar ambientes de trabalho mais saudáveis e produtivos</p>
            </div>
            <div >
                <h2 class="uk-margin-medium-bottom" style="margin-top: 15px;font-size: 1.5rem; max-width: 480px; font-family: 'Exo 2'; font-weight: 600;">O que acontece quando o Dr. Bernardino Antonio entra na sua empresa?</h2>
                <ul class="uk-list" style="max-width: 450px; font-family: 'Exo 2'; font-weight: 500;">
                   <li>Clareza sobre saúde emocional dentro da organização</li>
                   <li>Identificação e redução de riscos psicossociais antes ignorados</li>
                   <li>Equipas mais equilibradas, focadas e colaborativas</li>
                   <li>Transformação do stress em estratégias de prevenção</li>
                   <li>Conflitos convertidos em diálogo e inteligência emocional</li>
                   <li>Produtividade fortalecida de forma saudável e sustentável</li> 
                </ul>
            </div>
        </div>
    </div>

  </div>
</div>