.back{
    background: linear-gradient(to right, #fa8072, #f95846);
}

.title{
    color: white;
    font-family: "Urbanist";
    font-weight: 500;
}

.desc{
    max-width: 400px; 
    font-weight: 400; 
    font-size: 1rem;
    color: white;
}

.uk-button {
    background-color: white;
    border-radius: 10px;
    color: #f95846;
    padding: 5px 15px;
    border: none;
}

.uk-button:hover{
    background-color: #008080;
    color: white;
}