h3{
    font-family: "Sora";
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
}

.img-col {
    display: flex;
    align-items: flex-end;   /* cola a imagem no bottom */
    justify-content: flex-start; /* mantém alinhado à direita */
}

.card.reveal-fade {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.5s ease, transform 2.5s ease;
}

.card.reveal-active {
  opacity: 1;
  transform: translateX(0);
}


/* TEXTO */
.text-servico.reveal-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.text-servico.reveal-active {
  opacity: 1;
  transform: translateY(0);
}

p{
    font-family: 'Sora';
    font-size: 1rem;
    font-weight: 300;
    color: white;
    text-align: justify;
}

@media (min-width: 344px) and (max-width: 767px) {
    .uk-section{
        text-align: center !important;
    }
    h3{
        font-size: 2rem !important;
    }
    img{
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    h3{
        font-size: 1.3rem ;
    }
    img{
        width: 100% !important;
    }
}

@media (min-width: 344px) and (max-width: 768px) {
    .uk-container{
        padding: 0 !important;
        text-align: justify !important;
    }
    h3{
        text-align: center !important;
    }
}