.back {
  background-image: url(/imagens/bghero-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0; /* espaço interno vertical */
  height: 60vh; /* altura mínima para não esmagar */
}


@media (min-width: 344px) and (max-width: 767px) {
  .back{
    background-image: url(/imagens/top-mobile-contacto.png);
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* agora sim, bottom */
    text-align: center;
  }

  h1 {
    font-size: 2.2rem !important;
    max-width: 250px !important;
    margin: auto;
  }
  
}


@media (min-width: 600px) and (max-width: 767px) {
  .back {
    padding: 50px 0;
    height: 45vh;
    background-position: center;
  }

  h1 {
    font-size: 2.3rem !important;
    max-width: 330px !important;
  }

  p {
    max-width: 330px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .back {
    padding: 60px 0;
    height: 25vh;
    background-position: center;
  }

  h1 {
    font-size: 2.5rem !important;
    max-width: 320px !important;
  }

  p {
    max-width: 320px !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .back {
    padding: 70px 0;
    height: 45vh;
    background-position: center;
  }

  h1 {
    font-size: 3rem !important;
    max-width: 400px !important;
  }

  p {
    max-width: 400px !important;
  }
}