<div class="uk-section" style="background-color: #012933;">
    <div class="" style="background-color: transparent;">
        <h1 class="text-servico reveal-fade" style="font-size: 2.5rem; font-family: 'sora'; text-transform: uppercase; color: #a47b67; text-align: center    ;" uk-scrollspy="cls: reveal-active; delay: 100">Promova <strong>equilíbrio emocional</strong> e melhores resultados na vida pessoal e profissional</h1>

        <div uk-slider="finite: false; autoplay: true;">
        <div class="uk-margin-small-bottom uk-margin-medium-top uk-width-auto uk-margin-medium-left">
            <div uk-scrollspy="cls: uk-animation-slide-left; delay:900">
                <a href uk-slider-item="previous"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #767676">
                <span uk-icon="icon: chevron-left; ratio: 1.8" style="color: #767676;"></span>
                </a>
                <a href uk-slider-item="next"  style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; background: #f4fbff00; border: 1px solid #767676;">
                <span uk-icon="icon: chevron-right; ratio: 1.8" style="color: #767676"></span>
                </a>
            </div>
        </div>
        <div  class="uk-slider-container uk-padding uk-padding-remove-top uk-padding-remove-bottom ">
            <div class="uk-slider-items text-servico reveal-fade uk-child-width-1-3@l uk-grid-match uk-child-width-1-3@s uk-child-width-1-3@m uk-child-width-1-1 uk-child-width-1-1@s uk-grid " uk-scrollspy="cls: reveal-active; delay: 100">

                <div class="uk-card uk-card-default first-slide" style="background-color: #012933;">
                    <div class="uk-card-body" style="background-color: #013f4f; border: 1px solid #a47b67;">
                        <div class="uk-card-media-bottom">
                        <img data-src="imagens/banner-movimento-onda-branca.png" uk-img style="width:100%;" alt="Programa de saúde mental no trabalho para prevenção, apoio psicológico e promoção do bem-estar nas empresas">
                    </div>
                        <h3 style="font-size: 22px; color: #E6EEF6; text-transform: capitalize; font-weight: 500;">Movimento onda branca</h3>
                        <p style="color: #E6EEF6; font-size: 16px;">A Onda Branca, iniciativa da GestDream movida pelo propósito de colocar a saúde mental e a produtividade no centro da vida moderna.</p>
                        <a href="https://ondabrancaangola.com" target="_blank" style="color: #fff; font-size: 16px;">Saiba mais <span uk-icon="icon: arrow-right"></span></a>
                    </div>
                    
                </div>

                <div class="uk-card uk-card-default first-slide" style="background-color: #012933;">
                    <div class="uk-card-body" style="background-color: #013f4f; border: 1px solid #a47b67;">
                        <div class="uk-card-media-bottom">
                        <img data-src="imagens/banner-p7.png" uk-img style="width:100%;" alt="Programa de saúde mental no trabalho para prevenção, apoio psicológico e promoção do bem-estar nas empresas">
                    </div>
                        <h3 style="font-size: 22px; color: #E6EEF6; text-transform: capitalize; font-weight: 500;">P7</h3>
                        <p style="color: #E6EEF6; font-size: 16px;">O Programa de Saúde Emocional no Trabalho ajuda empresas a criar ambientes equilibrados, com foco em prevenção e bem-estar.</p>
                        <a  href="https://ondabrancaangola.com/programa-de-saude-emocional-do-trabalhador" target="_blank" style="color: #6FAF98; font-size: 16px;">Saiba mais  <span uk-icon="icon: arrow-right"></span></a>
                    </div>
                    
                </div>

                <div class="uk-card uk-card-default first-slide" style="background-color: #012933;">
                    <div class="uk-card-body" style="background-color: #013f4f; border: 1px solid #a47b67;">
                        <div class="uk-card-media-bottom">
                        <img data-src="imagens/banner-p7-mentoria.png" uk-img style="width:100%;" alt="Programa de saúde mental no trabalho para prevenção, apoio psicológico e promoção do bem-estar nas empresas">
                    </div>
                        <h3 style="font-size: 22px; color: #E6EEF6; text-transform: capitalize; font-weight: 500;">P7 - Mentoria</h3>
                        <p style="color: #E6EEF6; font-size: 16px;">Mentorias estratégicas para líderes, focadas em decisões conscientes e equilíbrio emocional.</p>
                        <a  href="https://ondabrancaangola.com/programa-de-saude-emocional-do-trabalhador-mentoria" target="_blank" style="color: #fff; font-size: 16px;">Saiba mais  <span uk-icon="icon: arrow-right"></span></a>
                    </div>
                    
                </div>
                <!--
                <div class="uk-card uk-card-default first-slide" style="background-color: #012933;">
                    <div class="uk-card-body" style="background-color: #013f4f; border: 1px solid #a47b67;">
                        <div class="uk-card-media-bottom">
                        <img data-src="imagens/banner-projecto-de-qualidade-de-vida.png" uk-img style="width:100%;" alt="Programa de saúde mental no trabalho para prevenção, apoio psicológico e promoção do bem-estar nas empresas">
                    </div>
                        <h3 style="font-size: 22px; color: #E6EEF6; text-transform: capitalize; font-weight: 500;">Projecto de Qualidade de Vida</h3>
                        <p style="color: #E6EEF6; font-size: 16px;">Programas e iniciativas que promovem bem-estar, equilíbrio emocional, produtividade saudável e desenvolvimento pessoal.</p>
                        <a href="https://ondabrancaangola.com/projecto-de-qualidade-de-vida" target="_blank" style="color: #fff; font-size: 16px;">Saiba mais  <span uk-icon="icon: arrow-right"></span></a>
                    </div>
                    
                </div>
                -->
                <div class="uk-card uk-card-default first-slide" style="background-color: #012933;">
                    <div class="uk-card-body" style="background-color: #013f4f; border: 1px solid #a47b67;">
                        <div class="uk-card-media-bottom">
                        <img data-src="imagens/banner-palestra-e-workshops.png" uk-img style="width:100%;" alt="Programa de saúde mental no trabalho para prevenção, apoio psicológico e promoção do bem-estar nas empresas">
                    </div>
                        <h3 style="font-size: 22px; color: #E6EEF6; text-transform: capitalize; font-weight: 500;">Palestras e workshops</h3>
                        <p style="color: #E6EEF6; font-size: 16px;">Gestão do stress; prevenção e controlo da depressão e da ansiedade; estratégias para a qualidade de vida pessoal e laboral.</p>
                        <a href="https://ondabrancaangola.com/palestra-e-workshop" style="color: #fff; font-size: 16px;">Saiba mais  <span uk-icon="icon: arrow-right"></span></a>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    </div>
</div>