<div class="uk-section uk-padding-remove" style="background-color: #f5f5dc;">
    <div class="uk-container uk-padding">
        <h2 class="uk-margin-large-bottom uk-text-center" style="font-family: 'Urbanist'; font-size: 4rem; font-weight: bold; color: #fa8072;">Porque o P7 ?</h2>
        <div class="uk-child-width-1-2@l uk-grid" >
            
            <div class="uk-width-expand">
                <div class="uk-card " style="padding: 20px 40px;">
                    <h2 style="font-size: 2.2rem;">Nascemos para Transformar Ambientes de Trabalho</h2>
                    <p style="font-size: 1rem; font-weight: 400;">No mundo corporativo atual, as pessoas estão cada vez mais sobrecarregadas, estressadas e distantes do seu pleno potencial. Percebemos que era preciso ir além dos discursos - era necessário agir com transparência e resultados mensuráveis. <br>  Foi assim que nasceu nosso Programa P7 - Saúde Mental do Trabalhador. Um programa baseado em evidências científicas, com metodologia validada e resultados que falam por si: <strong>ROI de 5,3x para cada investimento</strong> em saúde mental nas empresas.</p>
                </div>
            </div>
            <div style="max-width: 540px;">
                <div class="background">
                    <img  style="border-radius: 10px;" src="imagens/p7existe.png" alt="">
                </div>
            </div>
        </div>
</div>