ul li a{
    color: white;
    font-size: .88rem;
    font-weight: 500;
    font-family: "Roboto";
}

ul li a:hover{
    color: #fa7280;
}

.uk-icon:hover{
    color: #fa7280 !important;
}

.dropdown-link{
    color: #272727 !important;
    font-size: 1rem !important;
}
.dropdown-link:hover{
    color: #fa7280 !important;
}

.uk-navbar-nav > li.uk-active > a {
  color: #fa7280 !important; /* cor para ativo */
  font-weight: 600;
}

.dropdown-link{
    font-family: 'Urbanist';
    font-weight: 400 !important;
}