<div class="uk-navbar-container" style="background-color: #8f51c9;">
  <div class="uk-container">
    <nav uk-navbar>

      <!-- LEFT: LOGO + MENU -->
      <div class="uk-navbar-left">
        <a href="">
            <img src="imagens/logo-bernadardino.svg" width="160px"  alt="">
        </a>
        <!-- LOGO -->
        

        <!-- MENU -->
        
      </div>

      <!-- RIGHT: CTA -->
      <div class="uk-navbar-right uk-visible@s">
        <ul class="uk-navbar-nav uk-visible@s">

          <li>
            <a href="javascript:void(0)">Home</a>
          </li>

          <li>
            <a href="javascript:void(0)">Palestras</a>
          </li>
          
          <li>
            <a href="javascript:void(0)">Movimento onda branca</a>
          </li>

          <li>
            <a href="javascript:void(0)">Blog</a>
          </li>

        </ul>
        <a
          [routerLink]="['/contato']"
          class="uk-button btn-blue-alive"
          style="background-color:#00479f;color:white;border-radius:5px;">
          Contato
        </a>
      </div>

      <!-- MOBILE -->
      <div class="uk-navbar-right uk-hidden@s">
        <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-nav">
          <span uk-icon="icon: menu" style="color:white"></span>
        </a>
      </div>

    </nav>
  </div>
</div>




<!-- Offcanvas para mobile -->
<div id="offcanvas-nav" uk-offcanvas="mode: reveal; overlay: true">
  <div class="uk-offcanvas-bar back-canva" style="background-color: white;">

    <!-- Botão de fechar -->
    <button class="uk-offcanvas-close" style="color: #00479f;" type="button" uk-close></button>

    <!-- Menu principal -->
    <ul class="uk-nav uk-nav-default" uk-nav>
      <!-- Sobre a Onda Branca -->
      <li><a style="color:#272727;" [routerLink]="['']">Home</a></li>
      <li><a style="color:#272727;" [routerLink]="['/sobre']">Sobre a Onda Branca</a></li>
      <!-- Serviços -->
      <li class="uk-parent">
        <a href="javascript:void(0)" style="color:#272727;">Serviços</a>
        <ul class="uk-nav-sub uk-list-divider">
          <li><a style="color:#272727;" [routerLink]="['/mentoria-de-saude-mental-para-gestores']">Mentoria de saúde mental para gestores</a></li>
          <li><a style="color:#272727;" [routerLink]="['/antendimento-empressarial']">Atendimento empresarial</a></li>
          <li><a style="color:#272727;" [routerLink]="['/gestao-de-saude-mental-para-empressa']">Gestão de programa de saúde mental para empresas</a></li>
          <li><a style="color:#272727;" [routerLink]="['/programa-de-renda-extra']">Programa de Renda Extra</a></li>
          <li><a style="color:#272727;" [routerLink]="['/programa-de-ginastica-laboral']">O programa de ginástica laboral</a></li>
          <li><a style="color:#272727;" [routerLink]="['/palestra-e-workshop']">Palestras e workshops</a></li>
          <li><a style="color:#272727;" [routerLink]="['/programa-de-saude-mental-no-trabalho']">Programa de saúde mental no trabalho</a></li>
        </ul>
      </li>

      <!-- Conteúdos -->
      <li class="uk-parent">
        <a href="javascript:void(0)" style="color:#272727;">Conteúdos</a>
        <ul class="uk-nav-sub uk-list-divider">
          <li><a style="color:#272727;" [routerLink]="['/sobre']">Podcast</a></li>
          <li><a style="color:#272727;" [routerLink]="['/missao']">Blog</a></li>
        </ul>
      </li>
    </ul>
    <hr>
    <h3 style="color: #272727; margin: 5px; font-size: 16px;">Siga-nos nas redes sociais</h3>
    <hr>
    <!-- Lista vertical de ícones com texto -->
    <ul class="uk-list uk-list-divider uk-margin-small-top">
      <li>
        <a href="javascript:void(0)" target="_blank" style="color: #00479f; font-size: 16px;">
          <i class="fab fa-facebook"></i> Facebook
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" target="_blank" style="color: #00479f; font-size: 16px;">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" target="_blank" style="color: #00479f; font-size: 16px;">
          <i class="fab fa-linkedin"></i> Linkedin
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" target="_blank" style="color: #00479f; font-size: 16px;">
          <i class="fab fa-youtube"></i> Youtube
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" target="_blank" style="color: #00479f; font-size: 16px;">
          <i class="fab fa-spotify"></i> Spotify
        </a>
      </li>
    </ul>

    <!-- Botão de contacto -->
    <a class="uk-button uk-button-default uk-margin-top" 
       style="background-color: #00479f; color: white; border: none; border-radius: 5px;" 
       [routerLink]="['/contacto']">Contacto</a>

  </div>
</div>
