<div class="uk-navbar-container uk-navbar-transparent uk-position-absolute uk-position-top" style="z-index: 1;">
    <div class="uk-container">
        <div  class="uk-child-width-1-2@l uk-grid" style="padding: 20px 0px;">
            <div>
                <div>
                    <a href=""><img width="200" src="imagens/logo.png" alt=""></a>
                </div>
            </div>
            <div >
                <div class="uk-flex uk-flex-middle uk-flex-right uk-margin-small-top">
                    <div>
                        <a href=""><span uk-icon="icon: facebook; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: instagram; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: linkedin; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: spotify; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: youtube; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 0; border: 1px solid #c4c4c420;">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="">Bernadino Antonio</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Programas de transformacao</a>
                        <div class="uk-navbar-dropdown back uk-padding-large custom-dropdown uk-navbar-dropdown-width-1-1"
                            uk-dropdown="mode: click, hover; delay-show: 200; delay-hide: 200; stretch: x"
                            hidden style="background-color: #f5f5dc;">

                            <div  class="uk-drop-grid uk-child-width-1-2 uk-grid uk-drop-grid-divider uk-padding-medium uk-text-left">
                                <div>
                                    <h1 style="color: #00224b; font-size: 32px; font-weight: 500;">
                                        Os melhores programas para transformar Seus Resultados. 
                                    </h1>
                                    <p style="color: #00224b; font-size: 18px;">
                                        Desenvovido pelo melhor do pais saude mental e relacao organizacional
                                    </p>
                                </div>
                                <div class="uk-grid uk-child-width-1-2@s" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav" style="max-width: 250px;">
                                            <li ><a class="dropdown-link" [routerLink]="['/mentoria-de-saude-mental-para-gestores']">Programa de saude mental do trabalhador</a></li>
                                            <li ><a class="dropdown-link" [routerLink]="['/antendimento-empressarial']">Mentoria de saúde mental para gestores</a></li>
                                            <li ><a class="dropdown-link" [routerLink]="['/gestao-de-saude-mental-para-empressa']">Gestão de programa de saúde mental para empresas</a></li>
                                            <li ><a class="dropdown-link" [routerLink]="['/programa-de-renda-extra']">Programa de Renda Extra</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Conteudo Gratuitos</a>
                        <div class="uk-navbar-dropdown back uk-padding-large custom-dropdown uk-navbar-dropdown-width-1-1"
                            uk-dropdown="mode: click, hover; delay-show: 200; delay-hide: 200; stretch: x"
                            hidden style="background-color: #f5f5dc;">
                            <div class="uk-drop-grid uk-child-width-1-2 uk-grid uk-drop-grid-divider uk-padding-medium uk-text-left">
                                <div>
                                    <h1 style="color: #00224b; font-size: 32px; font-weight: 500;">
                                        Os melhores programas para transformar Seus Resultados. 
                                    </h1>
                                    <p style="color: #00224b; font-size: 18px;">
                                        Desenvovido pelo melhor do pais saude mental e relacao organizacional
                                    </p>
                                </div>
                                <div class="uk-grid uk-child-width-1-2@s" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav" style="max-width: 250px;">
                                            <li ><a class="dropdown-link" [routerLink]="['/mentoria-de-saude-mental-para-gestores']">Podcast</a></li>
                                            <li ><a class="dropdown-link" [routerLink]="['/antendimento-empressarial']">Artigos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="">Contacto</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>