<div class="uk-navbar-container uk-navbar-transparent uk-position-absolute uk-position-top" style="z-index: 11;">
    <div class="uk-container">
        <div  class="uk-child-width-1-2@l uk-grid" style="padding: 20px 0px;">
            <div>
                <div>
                    <a href=""><img width="200" src="imagens/logo.png" alt=""></a>
                </div>
            </div>
            <div >
                <div class="uk-flex uk-flex-middle uk-flex-right uk-margin-small-top">
                    <div>
                        <a href=""><span uk-icon="icon: facebook; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: instagram; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: linkedin; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span class="fas fa-podcast" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                    <div>
                        <a href=""><span uk-icon="icon: youtube; ratio:1.2" style="color: #c5c5c5; margin-right: 10px;"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 0; border: 1px solid #c4c4c420;">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }">
                        <a [routerLink]="['/sobre-bernardino']">Bernardino António </a>
                    </li>
                    <li  routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }">
                        <a href="javascript:void(0)">Programas de transformação</a>
                        <div class="uk-navbar-dropdown back uk-padding-large custom-dropdown uk-navbar-dropdown-width-1-1"
                            uk-dropdown="mode: click, hover; delay-show: 200; delay-hide: 200; stretch: x"
                            hidden style="background-color: #f5f5dc;">

                            <div  class="uk-drop-grid uk-child-width-1-2 uk-grid uk-drop-grid-divider uk-padding-medium uk-text-left">
                                <div>
                                    <h1 style="color: #fa7280; font-size: 2rem; font-weight: 500; font-family: 'Urbanist';">
                                        Os melhores programas para transformar seus Resultados. 
                                    </h1>
                                    <p style="color: #272727; font-size: 1.2rem; font-family: 'Urbanist'; font-weight: 500;">
                                         Desenvolvido pelo melhor especialista do país em saúde mental e relações organizacionais.
                                    </p>
                                </div>
                                <div class="uk-grid uk-child-width-1-2@s" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav" style="max-width: 250px;">
                                            <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }" ><a  class="dropdown-link" [routerLink]="['/p7']">Programa de saude mental do trabalhador</a></li>
                                            <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }" ><a class="dropdown-link" [routerLink]="['/mentoria-para-gestores']">Mentoria de saúde mental para gestores</a></li>
                                            <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }" ><a class="dropdown-link" [routerLink]="['/gestao-de-programa-de-saude-mental-para-empresa']">Gestão de programa de saúde mental para empresas</a></li>
                                            <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{ exact: false }" ><a class="dropdown-link" [routerLink]="['/programa-de-renda-extra']">Programa de Renda Extra</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Conteúdos Gratuitos</a>
                        <div class="uk-navbar-dropdown back uk-padding-large custom-dropdown uk-navbar-dropdown-width-1-1"
                            uk-dropdown="mode: click, hover; delay-show: 200; delay-hide: 200; stretch: x"
                            hidden style="background-color: #f5f5dc;">
                            <div class="uk-drop-grid uk-child-width-1-2 uk-grid uk-drop-grid-divider uk-padding-medium uk-text-left">
                                <div>
                                    <h1 style="color: #fa7280; font-size: 2rem; font-weight: 500; font-family: 'Urbanist';">
                                        Conteúdos com orientações práticas para cuidar da sua saúde mental e viver com mais equilíbrio 
                                    </h1>
                                    <p style="color: #272727; font-size: 1.2rem; font-family: 'Urbanist'; font-weight: 500;">
                                        Explore podcats e artigos com orientações práticas para saúde mental e equilíbrio
                                    </p>
                                </div>
                                <div class="uk-grid uk-child-width-1-2@s" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav" style="max-width: 250px;">
                                            <li ><a class="dropdown-link" [routerLink]="['/mentoria-de-saude-mental-para-gestores']">Podcast</a></li>
                                            <li ><a class="dropdown-link" [routerLink]="['/antendimento-empressarial']">Artigos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li routerLinkActive="uk-active">
                        <a [routerLink]="['/contato']">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>