<div class="uk-section back uk-position-relative">
    <div class="uk-container">
        <div class="uk-position-cover uk-overlay uk-overlay-primary">
            <div class="uk-child-width-1-2@l uk-grid">
                <div>

                </div>
                <div>
                    <h3 class="titulo uk-margin-large-top" style="color: #fff; font-family: 'Urbanist'; font-weight: bold; font-size: 2rem;">Saiba quem é o Dr. Bernardino António e como se tornou uma referência em saúde mental no trabalho</h3>
                    <p style="font-size: 1rem; font-weight: 500; font-family: 'Urbanist';color: #fff; background-color: #fa7280; padding: 10px;">Ao longo da sua formação e prática médica, Bernardino presenciou de perto os impactos do stress crónico, da exaustão emocional e da ausência de políticas de bem-estar nas organizações.</p>
                    <p style="font-size: 1rem; font-weight: 500; font-family: 'Urbanist';color: #fff; background-color: #fa7280; padding: 10px;">Foi essa realidade que o levou a especializar-se em Medicina do Trabalho e a dedicar a sua carreira à promoção da saúde mental, da produtividade sustentável e do bem-estar no ambiente profissional</p>
                </div>
            </div>
        </div>
    </div>
</div>