<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container uk-flex  uk-flex-middle uk-flex-column">
        <h3 class="contacto">Entre em contacto</h3>
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            <li style="font-size: 1.5rem;"><a style="border-radius: 5px; font-size: 1.2rem; padding: 5px 60px; font-family: 'Urbanist';" href="">Palestras</a></li>
            <li><a style="border-radius: 5px; font-size: 1.2rem; padding: 5px 60px; font-family: 'Urbanist'" href="">Parcerias</a></li>
            <li><a style="border-radius: 5px; font-size: 1.2rem; padding: 5px 60px; font-family: 'Urbanist'" href="">Empresaria ou pessoal</a></li>
        </ul>
        
        <div class="uk-switcher " style="margin-top: 20px;">
            <div class="uk-text-center" style="max-width: 650px;">
                <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Palestras educativas e motivacionais voltadas para saúde mental, desenvolvimento pessoal e bem-estar emocional</p>
                <a href="/contato" class="uk-button uk-button-default">Entre em contacto</a>
            </div>
            <div class="uk-text-center" style="max-width: 650px;">
                <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Parcerias com empresas, instituições e projetos que valorizam o cuidado com a saúde mental e o crescimento humano.</p>
                <a href="/contato" class="uk-button uk-button-default">Entre em contacto</a>
            </div>
            <div class="uk-text-center" style="max-width: 650px;">
                <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Atendimentos e serviços personalizados para empresas, equipas ou indivíduos, de acordo com cada necessidade</p>
                <a href="/contato" class="uk-button uk-button-default">Entre em contacto</a>
            </div>
        </div>
    </div>
</div>