.contacto{
    font-size: 2.2rem;
    font-family: "Urbanist";
    font-weight: 500;
}

.uk-card{
    box-shadow: 5px 5px 5px 5px #27272715;
    padding: 15px 25px;
}
p{
    font-family: "Urbanist";
    font-size: 1.3rem;
    color: #272727;
}

a{
    text-decoration: none;
}

.line{
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fa7280;    
}
a:hover .line{
    background-color: #008080;
}
a:hover .uk-icon{
    color: #008080 !important;
    transform: translateX(5px) translateY(2px) translateZ(3px);
}
.uk-card-default:hover{
    transform: translateX(5px) translateY(2px) translateZ(3px);
}