<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container uk-flex  uk-flex-middle uk-flex-column">
        <h3 class="contacto">Entre em contacto</h3>
        <div uk-switcher>
            <a href="">Palestras</a>
            <a href="">Parceria</a>
        </div>
        <div class="uk-child-width-1-3@l uk-grid uk-margin-large-top" >
            <div>
                <a href="">
                    <div class="uk-position-relative uk-card uk-card-default uk-card-body" style="background-color: #f5f5dc; border-radius: 10px;">
                    <p>Acesse o canal e aceso ao melhor conteudo. <span class="line"></span></p>
                    <span uk-icon="icon: youtube; ratio: 2.5" style="color: #fa8072;" class="uk-position-bottom-right uk-margin-small-bottom uk-margin-small-right"></span>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="uk-position-relative uk-card uk-card-default uk-card-body" style="background-color: #f5f5dc; border-radius: 10px;">
                    <p>Acesse o instagram e esteja sempre conectado. <span class="line"></span></p>
                    <span uk-icon="icon: instagram; ratio:2.5" style="color: #fa8072;" class="uk-position-bottom-right uk-margin-small-bottom uk-margin-small-right"></span>
                </div>
                </a>
            </div>
            <div>
                <a href="">
                    <div class="uk-position-relative uk-card uk-card-default uk-card-body" style="background-color: #f5f5dc; border-radius: 10px;">
                    <p>Acesse o linkedin e aceso ao melhor conteudo. <span class="line"></span> </p>
                    <span uk-icon="icon: linkedin; ratio:2.5" style="color: #fa8072;" class="uk-position-bottom-right uk-margin-small-bottom uk-margin-small-right"></span>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>