<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid uk-margin-large-top" uk-height-match="target: div > div > div">
            <div class="uk-width-expand">
                <div class="uk-card uk-card-body">
                    <h3 style="font-size: 2.2; font-family: 'Urbanist';">Gestão estratégica de saúde mental no ambiente corporativo</h3>
                    <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727;">A gestão de um programa de saúde mental vai além de ações pontuais ou campanhas simbólicas. Trata-se de estruturar processos, formar lideranças e criar condições reais para que pessoas performem de forma sustentável, reduzindo riscos operacionais, absenteísmo, conflitos e decisões impulsivas.</p>
                    <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727;">Este programa é voltado para empresas que entendem saúde mental como <strong>ativo organizacional</strong>, não como benefício decorativo.</p>
                    <a href="" style="background-color: #fa7280; color: #f5f5dc; border-radius: 5px;" class="uk-button uk-button-default">Começar agora</a>
                </div>
            </div>
            <div style="max-width: 550px;">
                <div class="uk-background-cover uk-height-1-1" style="border-radius: 10px;" uk-img data-src="imagens/gestao.png">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <h3 class="uk-text-center" style="font-family: 'Urbanist'; font-weight: 700; font-size: 2.2rem; margin-bottom: 3rem; color: #fa7280;">
            Para quem é este programa
        </h3>

        <div class="timeline-horizontal uk-flex uk-flex-middle uk-flex-between" style="position: relative;">

            <!-- Item 1 -->
            <div class="timeline-item-horizontal uk-text-center">
                <div class="number-container-horizontal">
                    <span class="section-number-horizontal">01</span>
                    <div class="horizontal-connector"></div>
                </div>
                <p class="content-horizontal">Empresas de médio e grande porte</p>
            </div>

            <!-- Item 2 -->
            <div class="timeline-item-horizontal uk-text-center">
                <div class="number-container-horizontal">
                    <span class="section-number-horizontal">02</span>
                    <div class="horizontal-connector"></div>
                </div>
                <p class="content-horizontal">Gestores, RH, liderança e diretoria</p>
            </div>

            <!-- Item 3 -->
            <div class="timeline-item-horizontal uk-text-center">
                <div class="number-container-horizontal">
                    <span class="section-number-horizontal">03</span>
                    <div class="horizontal-connector"></div>
                </div>
                <p class="content-horizontal">Organizações com alta pressão por resultados</p>
            </div>

            <!-- Item 4 -->
            <div class="timeline-item-horizontal uk-text-center">
                <div class="number-container-horizontal">
                    <span class="section-number-horizontal">04</span>
                    <div class="horizontal-connector"></div>
                </div>
                <p class="content-horizontal">Ambientes com desgaste emocional, rotatividade ou conflitos recorrentes</p>
            </div>

        </div>
    </div>
</div>


<div class="uk-section" style="background-color: #c4c4c4;">
    <div class="uk-container">
        <h3 class="uk-text-center" style="font-family: 'Urbanist'; font-weight: 700; font-size: 2.5rem; margin-bottom: 2rem; color: #ff495b;">
            Principais diferenciais do programa
        </h3>
        <div class="uk-child-width-1-2@s uk-child-width-1-4@l uk-grid-small uk-grid-match" uk-grid>
            
            <!-- Card 1 -->
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center" style="border-radius: 5px; background-color: #f5f5dc;">
                    <h3 class="uk-card-title" style="font-family: 'Urbanist'; font-weight: 600; font-size: 1.5rem;">Não é terapia coletiva</h3>
                    <hr>
                    <p style="font-family: 'Urbanist'; font-size: 1rem; color: #272727; margin-top: 0.5rem; font-weight: 400;">
                        Foca em práticas e ferramentas aplicáveis no dia a dia dos colaboradores e da equipe.
                    </p>
                </div>
            </div>

            <!-- Card 2 -->
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center" style="border-radius: 5px; background-color: #f5f5dc;">
                    <h3 class="uk-card-title" style="font-family: 'Urbanist'; font-weight: 600; font-size: 1.5rem;">Não promete felicidade</h3>
                    <hr>
                    <p style="font-family: 'Urbanist'; font-size: 1rem; color: #272727; margin-top: 0.5rem; font-weight: 400;">
                        Entrega estratégias práticas para lidar com pressão e desafios no ambiente de trabalho, sem falsas promessas.
                    </p>
                </div>
            </div>

            <!-- Card 3 -->
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center" style="border-radius: 5px; background-color: #f5f5dc;">
                    <h3 class="uk-card-title" style="font-family: 'Urbanist'; font-weight: 600;font-size: 1.5rem;">Não transfere culpa</h3>
                    <hr>
                    <p style="font-family: 'Urbanist'; font-size: 1rem; color: #272727; margin-top: 0.5rem; font-weight: 500;">
                        Incentiva ações dentro do alcance dos colaboradores e da empresa, sem apontar culpados.
                    </p>
                </div>
            </div>

            <!-- Card 4 -->
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center" style="border-radius: 5px; background-color: #f5f5dc;">
                    <h3 class="uk-card-title" style="font-family: 'Urbanist'; font-weight: 600;font-size: 1.5rem;">Respeito e maturidade</h3>
                    <hr>
                    <p style="font-family: 'Urbanist'; font-size: 1rem; color: #272727; margin-top: 0.5rem; font-weight: 500;">
                        Fornece orientações realistas e respeitosas, valorizando a experiência de cada profissional.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="uk-section back uk-position-relative">
    <div class="uk-container">
        <div class="uk-position-cover uk-overlay uk-overlay-primary">
            <div class="uk-child-width-1-2@l uk-grid">
                <div>

                </div>
                <div>
                    <h3 class="titulo uk-margin-large-top" style="color: #fff; font-family: 'Urbanist'; font-weight: bold; font-size: 2rem;">O que este programa entrega</h3>
                    <p style="color: white; font-size: 1.2rem; font-family: 'Urbanist';">Gestão prática e responsável da saúde mental no trabalho, com foco em:</p>
                    <ul class="uk-list " style="font-family: 'Urbanist'; color: white; font-size: 1.2rem;">
                        <li> <span class="uk-icon-button" uk-icon="icon: check; ratio: 1.2" style="background-color: #fa7280; color: #f5f5dc;"></span> Clareza emocional na tomada de decisão</li>
                        <li> <span class="uk-icon-button" uk-icon="icon: check" style="background-color: #fa7280; color: #f5f5dc;"></span> Lideranças mais conscientes do impacto das suas ações</li>
                        <li> <span class="uk-icon-button" uk-icon="icon: check" style="background-color: #fa7280; color: #f5f5dc;"></span> Redução de desgaste emocional crônico</li>
                        <li> <span class="uk-icon-button" uk-icon="icon: check" style="background-color: #fa7280; color: #f5f5dc;"></span> Comunicação mais funcional entre equipes</li>
                        <li> <span class="uk-icon-button" uk-icon="icon: check" style="background-color: #fa7280; color: #f5f5dc;"></span> Responsabilidade emocional aplicada à rotina de trabalho</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container uk-text-center">

        <h2 style="font-family: 'Urbanist'; font-weight: 700; font-size: 2.5rem; margin-bottom: 1rem; color: #fa7280;">
            Quer saber como o programa pode <br> transformar sua empresa?
        </h2>

        <p style="font-family: 'Urbanist'; font-weight: 500; font-size: 1.1rem; margin-bottom: 2rem; max-width: 550px; margin: auto; margin-bottom: 25px;">
            Agende uma conversa rápida e descubra como implementar a saúde mental na liderança da sua equipe, gerando resultados concretos e duradouros.
        </p>

        <a href="#contato" class="uk-button uk-button-large uk-button-default uk-border-rounded" 
           style="background-color: #fa7280; color: #f5f5dc; font-weight: 700; font-size: 1.2rem;">
            Fale conosco
        </a>

    </div>
</div>
