.number-container-horizontal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Número dentro do círculo */
.section-number-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #008080;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 2;
}

/* Linha / seta horizontal conectando os números */
.horizontal-connector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 340px; /* linha vai até o próximo item */
    height: 4px;
    background-color: #008080;
    z-index: 1;
}

/* Remove linha do último item */
.timeline-item-horizontal:last-child .horizontal-connector {
    display: none;
}

/* Conteúdo abaixo do número */
.content-horizontal {
    font-family: 'Urbanist';
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 250px;
    color: #272727;
}

/* Layout horizontal */
.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.back{
    background-image: url(/imagens/sobre-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.uk-overlay-primary{
    background-color: #00000024;
}


/* Responsividade: vira vertical */
@media (max-width: 960px) {
    .timeline-horizontal {
        flex-direction: column;
        align-items: flex-start;
    }
    .horizontal-connector {
        width: 4px;
        height: 50px;
        top: 50%;
        left: 25px;
        transform: none;
        margin-top: 0;
    }
}