.hero-wrapper {
  position: relative;
}

.floating-card {
  bottom: -90px; /* metade fora do hero */
  left: 58%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
}


.card-box {
  background-color: #f5f5dc;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.background{
    height: 500px;
    width: 450px;
    display: flex;
}

.background img{
    width: 100%;
    border-radius: 20px;
}

.uk-card-title{
    font-size: 4rem;
    font-weight: bold;
    font-family: "Urbanist";
    color: #fa8072;
    margin: 0;
}

.uk-card-esta{
    border-right: 1px #c4c4c4 solid;
    padding: 5px 10px;
}
@media (max-width: 960px) {
  .floating-card {
    bottom: -40px;
  }
}