<div class="uk-section uk-padding-remove" style="background-color: #f6f6f6;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
            <div class="uk-text-right">
                <img src="imagens/p7.png" width="550px" alt="">
            </div>
            <div>
                <div class="uk-card uk-card-body">
                <h3 ><strong>Especialista em saúde mental, produtividade</strong>, e <strong>performance</strong> profissional e organizacional.</h3>
                <p>Profissional da área da saúde e comunicador, é criador de projetos educativos e comunitários voltados à prevenção do adoecimento mental, equilíbrio emocional e melhoria da qualidade de vida no trabalho.</p>
                <p>Como palestrante, entrevistador e anfitrião de programas de rádio e podcasts, <strong style="font-weight: bold;">o Dr. Bernardino inspira pessoas e organizações a adotarem uma visão mais humana e sustentável de sucesso</strong>, baseada num princípio simples e essencial: <strong style="font-weight: bold;">“Cuidar da mente é o primeiro passo para qualquer resultado duradouro.”</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>