.uk-button-default{
    border-radius: 10px;
    color: white;
    border: 2px solid;
}

.uk-button-default:hover{
    background-color: #fa8072;
    color: white;
    border: 2px solid #fa8072;
}
.titulo{
    font-family: "Urbanist";
    font-size: 2.6rem;
}