<div class="uk-section" style="background-color: #e7e7d1;">
    <div class="uk-child-width-1-2@l uk-grid">
        <div>
            <img width="450" src="imagens/youtube.svg" alt="">
        </div>
        <div>
            <div style="max-width: 450px;">
                <span style="font-size: 1rem; font-family: 'Urbanist'; color: #fa7280;">YouTube</span>
                <h1 class="uk-margin-remove" style="font-family: 'Urbanist'; font-size: 1.5rem; font-weight: bold;" >Acesse o canal do <span style="color: #fa7280;">Dr. Bernardino António</span> no YouTube</h1>
                <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727;">Vídeos com orientações práticas para cuidar da sua saúde mental e viver com mais equilíbrio</p>
                <a href="#" class="uk-button uk-button-default">
                    Acessar o canal <span uk-icon="icon: link-external"></span>
                </a>
            </div>
        </div>

    </div>
</div>