<div class="uk-section " style="background-color: #f5f5dc;">
    <div class="uk-container uk-padding">
        <div class="uk-child-width-1-2@l uk-grid" >
            <div style="width: 450px ;">
                <div class="background">
                    <img src="imagens/p7.png" alt="">
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card  " style="padding: 20px 40px;">
                    <h2 style="font-size: 2.2rem; font-family: 'Urbanist'; color: #272727;">Investimento com retorno garantido</h2>
                    <p style="font-size: 1rem; font-weight: 400;"> Transforme o ambiente de sua empresa e aumente a produtividade através do cuidado com o bem-estar psicológico de seus colaboradores. O programa oferece estratégias comprovadas para reduzir o estresse ocupacional, prevenir o burnout e promover um clima organizacional saudável. Desenvolvido por ESPECIALISTA em psicologia organizacional. <br> Veja os impactos positivos do programa de saúde mental no ambiente corporativo:</p>
                    <div class="uk-child-width-1-4@l uk-grid">
                        <div>
       
</div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-grid" uk-height-match="target: div > div > div">
            <div class="uk-width-expand">
                <div>
                    <h2 style="font-family: 'Urbanist'; font-size: 2rem;; color: #272727;">O que os colaboradores vão desenvolver no Programa de Saúde Mental do Trabalhador</h2>
                    <ul class="uk-list uk-list-hyphen" style="font-weight: 400; font-size: 1rem; color: #272727;">
                        <li>Compreensão prática sobre saúde mental no ambiente corporativo e seu impacto direto na performance;</li>
                        <li>Capacidade de identificar sinais de estresse, ansiedade e burnout, reduzindo afastamentos e queda de produtividade;</li>
                        <li>Desenvolvimento de inteligência emocional para lidar com pressão, metas, conflitos e mudanças organizacionais;</li>
                        <li>Aplicação de estratégias eficazes de gestão emocional, foco e organização no dia a dia de trabalho;</li>
                        <li>Fortalecimento do bem-estar psicológico, promovendo um ambiente mais saudável e colaborativo;</li>
                        <li>Aumento da confiança, engajamento e clareza na tomada de decisões.</li>
                    </ul>
                    <a href="" class="uk-button uk-button-default">Comecar agora</a>
                </div>
            </div>
            <div style="max-width: 550px">
              <div class="uk-background-cover uk-height-1-1"  style="border-radius: 10px;" uk-img data-src="imagens/programa-1.png">
              </div>  
            </div>
        </div>
    </div>
</div>

<div class="uk-section">
    <div class="uk-container uk-text-center">
        <h3 style="text-transform: uppercase;font-size: 2.8rem; font-family: 'Urbanist'; color: #fa7280; font-weight: bold;">Equilíbrio ou esgotamento: <br> a escolha é diária.</h3>
        <p style="color: #272727; max-width: 850px; margin: auto;">Ao investir no Programa de Saúde Mental do Trabalhador, a empresa promove o desenvolvimento emocional dos seus colaboradores, ajudando-os a lidar melhor com pressão, estresse e desafios do ambiente profissional, com acompanhamento e estratégias baseadas em práticas responsáveis e humanas.</p>
        <a href="" class="uk-button uk-button-default uk-margin-top">Entre em contacto</a>
    </div>
</div>