<div id="sobre-bernadino" class="uk-section uk-padding-remove-bottom" style="background-color: #034051;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">
            <div class="text-servico reveal-fade" uk-scrollspy="cls: reveal-active; delay: 100">
                <div class="uk-card uk-card-body">
                <h3 style="font-size: 3.2rem; font-family: 'sora'; text-transform: uppercase; color: #a47b67;">Quem sou Eu</h3>
                <p style="font-size: 1rem;"><strong>Especialista em saúde mental, produtividade</strong>, e <strong>performance</strong> profissional e organizacional.</p>
                <p style="font-size: 1rem;">Profissional da área da saúde e comunicador, é criador de projetos educativos e comunitários voltados à prevenção do adoecimento mental, equilíbrio emocional e melhoria da qualidade de vida no trabalho.</p>
                <p style="font-size: 1rem;">Como palestrante, entrevistador e anfitrião de programas de rádio e podcasts, <strong style="font-weight: bold;">o Dr. Bernardino inspira pessoas e organizações a adotarem uma visão mais humana e sustentável de sucesso</strong>, baseada num princípio simples e essencial: <strong style="font-weight: bold;">“Cuidar da mente é o primeiro passo para qualquer resultado duradouro.”</strong></p>
                </div>

            </div>
            <div class="img-col reveal-fade card uk-flex-first@s uk-flex-first@l uk-flex-first@m" uk-scrollspy="cls: reveal-active; delay: 100">
                <img src="imagens/bernadibo.png"  alt="">
            </div>
        </div>
    </div>
</div>