h3{
    font-family: "Sora";
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
}
p{
    font-family: 'Sora';
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

@media (min-width: 344px) and (max-width: 767px) {
    h3{
        font-size: 1.4rem !important;
    }
}

@media (min-width: 768px) {
    h3{
        font-size: 1.3rem ;
    }
}