<div class="uk-section uk-section-lage" style="background-color: #000;">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center uk-flex-column uk-text-center">
            <div class="uk-text-center">
                <h1  style="width: auto; font-size: 1.5rem; color: white; font-family: 'Exo 2';">Transforme sua equipa com quem entende <br> de equilíbrio e desempenho.</h1>
            </div>
            <ul class="uk-list">
                <li><a href="" style="color: white; font-family: 'Exo 2'; font-size: 1rem; font-weight: 400;">Gest Dreams</a></li>
                <li><a href="" style="color: white; font-family: 'Exo 2'; font-size: 1rem; font-weight: 400;">Onda Branca</a></li>
            </ul>
        </div>
    </div>
</div>