<div class="uk-section efeito-cantos" style="background-color: #000; position: relative; z-index: 1; padding-bottom: 20px;">
    <div class="uk-container">
        <div class="circulo"></div>
    <div class="uk-child-width-1-4@l uk-child-width-1-4@s uk-child-width-1-4@m uk-grid">

      <!-- Logo + lema -->
      <div>
        <img src="imagens/logo-bernadardino.svg" width="180" alt="Onda Branca">
      </div>

      <div>
        <h3>Saiba mais</h3>
        <ul class="uk-list">
          <li><a href="">Bernardino Antonio</a></li>
          <li><a href="">GestDreams</a></li>
          <li><a href="">Onda branca</a></li>
        </ul>
      </div>

      <div>
        <h3>Contacto</h3>
        <ul class="uk-list">
          <li><a href="">Suporte</a></li>
        </ul>
      </div>

      <!-- Redes sociais e contactos -->
      <div>
        <h3>Redes sociais</h3>

        <div class="uk-flex  uk-flex-middle uk-grid-small" uk-grid>
          <a href="" class="uk-flex-middle" uk-tooltip="Instagram" style="font-size: 1.5rem;">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="" uk-tooltip="Facebook" style="font-size: 1.5rem;">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="" uk-tooltip="LinkedIn" style="font-size: 1.5rem;">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="" class="" uk-tooltip="YouTube" style="font-size: 1.5rem;">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="" uk-tooltip="Spotify" style="font-size: 1.5rem;" >
            <i class="fab fa-spotify"></i>
          </a>
        </div>
      </div>

    </div>

    <hr>

    <div class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap">
      <div>
        <p>
          Copyright &copy; 
          Todos os direitos reservados para Onda Branca.
        </p>
      </div>
      <div>
        <a href="">Política de privacidade</a> |
        <a href="">Termos de uso</a>
      </div>
    </div>
  </div>
    
</div>