ul li a, a, p{
  font-size: .8rem;
  color: #b7b7b7;
}

a{
  text-decoration: none;
}

ul li a:hover, a:hover{
  color: white;
}

ul li{
  margin: 0;
}
h3{
  font-size: 1rem;
  color: white;
}

.efeito-cantos {
  position: relative;
  overflow: hidden;
}

/* Círculos decorativos suaves */
.circulo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 720px;
  height: 200px;
  background: linear-gradient(to right,#b17dffc4, #35215370);
  filter: blur(100px);   /* deixa suave */
  
  pointer-events: none; /* não bloqueia clique no conteúdo */
}

ul li a, p, a{
    font-weight: 300;
}