<div class="uk-section uk-padding-remove-top" style="background-color: #272727;">
  
    <div class="uk-container uk-position-relative">
    <!-- Imagem de fundo desktop -->
    <img src="imagens/back.png" alt="Capa" class="uk-width-1-1 uk-visible@m">

    <!-- Conteúdo principal -->
    <div class="uk-position-center-left uk-width-1-2@m" style="left: 7%; max-width: 450px; bottom: 5%;">
        <div>
            <a href="" ><img class="uk-margin-small-bottom card" style="border-radius: 10px;" src="imagens/gestdreans.png" alt=""></a>
            <a href="" ><img class="card" src="imagens/ondabranca.png"  style="border-radius: 10px;" alt=""></a>
        </div>
    </div>

    <div class="uk-position-center-right uk-width-1-2@m" style="right:-10%; bottom: 25%;">
    
    </div>

  </div>
</div>