<div id="secao-transformacao" class="uk-section" style="background-color: white;">
    <div class="uk-container uk-width-3-4@m ">
        <h3 class="uk-text-center uk-margin-medium-bottom" style="font-family: 'Exo 2'; font-weight: 600; font-size: 2rem; color: #272727;">Dois caminhos estratégicos <br> para a transformação corporativa</h3>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-2@l uk-grid" >
            <div class="uk-text-right">
                <div class="circle">1</div>
                <h2 style="margin-top: 10px; font-family: 'Exo 2'; font-size: 1.9rem; color: #ff9100;">Gest Dreams</h2>
                <p style="font-size: 1.2rem; font-weight: 400; font-family: 'Exo 2'; color: #272727;">Um caminho voltado para líderes e equipas que precisam alinhar emoções, decisões e produtividade. Combina práticas de saúde mental e gestão humana para criar ambientes equilibrados.</p>
                <a href="" class="uk-button uk-button-default" style="background-color: #d17a0a; color: white; border-radius: 5px;">Explorar <span style="text-transform: capitalize;">Gest Dreams</span></a>
            </div>
            
            <div >
                <div class="circle-right">2</div>
                <h2 style="margin-top: 10px; font-family: 'Exo 2'; font-size: 1.9rem; color: #ff9100;">Onda Branca</h2>
                <p style="font-size: 1.2rem; font-weight: 400; font-family: 'Exo 2'; color: #272727;">A Onda Branca é o programa da Gest Dreams dedicado a fortalecer a saúde mental e a produtividade laboral, transformando conhecimento psicológico em conteúdos claros, práticos e aplicáveis dentro das organizações.</p>
                <a href="" class="uk-button uk-button-default" style="background-color: #d17a0a; color: white; border-radius: 5px;">Conhecer o programa</a>
            </div>
            
        </div>
    </div>
</div>