<div id="programa-de-saude-emocional-do-trabalhador" class="uk-section uk-padding-remove-bottom" style="background-color: #01222B; background-image: url(imagens/bg-impacto-P7.jpg); background-position: center;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid ">
            
            <div  class="text-servico reveal-fade" uk-scrollspy="cls: reveal-active; delay: 100">
                <div class="uk-card uk-card-body">
                    <h3 style="font-size: 2.2rem; font-family: 'sora'; text-transform: uppercase; color: #a47b67; text-transform: uppercase;">P7 — Programa de Saúde Mental do Trabalhador</h3>
                    <p style="font-size: 1rem; font-family: 'sora';">O P7 é uma iniciativa desenvolvida para promover bem-estar psicológico, equilíbrio emocional e melhores condições de produtividade no ambiente de trabalho.</p>
                    <p style="font-size: 1rem; font-family: 'sora';">Com uma abordagem integrada, o programa apoia trabalhadores e equipas na prevenção do stress, redução do esgotamento e desenvolvimento de hábitos saudáveis que fortalecem desempenho e qualidade de vida.</p>
                    <p style="font-size: 1rem; font-family: 'sora';">O P7 oferece atividades educativas, acompanhamento especializado e estratégias práticas que ajudam organizações a construir ambientes mais saudáveis, humanos e sustentáveis. A base do programa é clara: <strong>cuidar da saúde mental é fundamental para qualquer resultado sólido e duradouro.</strong></p>
                </div>
            </div>
            <div class="img-col reveal-fade card uk-flex-first@s uk-flex-last@l uk-flex-first@m" uk-scrollspy="cls: reveal-active; delay: 100">
                <img src="imagens/bernardino-p7.png" width="550" height="550" alt="Dr. Bernardino António, Médico Especialista em Medicina do Trabalho">
            </div>
        </div>
    </div>
</div>
