p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
    color: #272727;
    margin-bottom: 45px;
}

.card-title{
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin-left: 5px;
}

.uk-car {
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.saiba{
    display: none;
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5px;
}

.uk-car:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2) !important;
}

.uk-car:hover .saiba{
    display: block;
}

.uk-slider {
    overflow: visible;
}

.uk-slider-items {
    overflow: visible;
}

