<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-padding uk-container uk-text-center">
        <h2 style="font-size: 2.8rem; font-family: 'Urbanist'; font-weight: bold; color: #fa8072;">Invista em si e na sua Equipe</h2>
        <p> Os melhores programas para transformar seu ambiente de trabalho. <br> Implemente, acompanhe e veja os resultados.</p>
        <div uk-slider="autoplay: true">
            <div class="uk-slider-items uk-child-width-1-4@l uk-grid ">
                <div >
                    <a  href="">
                        <div class="uk-car uk-position-relative">
                        <img style="border-radius: 10px;" src="imagens/solucao-1.png" alt="">
                    <div class="uk-position-cover">
                        <div class="uk-position-bottom">
                            <h3 class="card-title" style="color: white;">Programa de saude mental do trabalhaor (P7)</h3>
                        </div>
                    </div>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <div class="uk-car uk-position-relative">
                        <img style="border-radius: 10px;" src="imagens/solucao-2.png" alt="">
                    <div class="uk-position-cover">
                        <div class="uk-position-bottom">
                            <h3 class="card-title" style="color: white;">Gestao do programa de saude mental para empresa</h3>
                        </div>
                    </div>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <div class="uk-car uk-position-relative">
                        <img style="border-radius: 10px;" src="imagens/solucao-4.png" alt="">
                        <div class="uk-position-cover">
                        <div class="uk-position-bottom">
                            <h3 class="card-title" style="color: #fff;">Programa de Renda Extra </h3>
                        </div>
                    </div>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <div class="uk-car uk-position-relative">
                        <img style="border-radius: 10px;" src="imagens/solucao-3.png" alt="">
                        <div class="uk-position-cover">
                        <div class="uk-position-bottom">
                            <h3 class="card-title" style="color: white;">Mentoria de saude mental para  gestores</h3>
                        </div>
                    </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>