<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <h2 class="uk-margin-large-bottom uk-text-center" style="font-family: 'Urbanist'; font-size: 4rem; font-weight: bold; color: #fa8072;">Pimeiros passos de transformacao.</h2>
        <div class="uk-child-width-1-2@l uk-grid">
            <div>
                <h3 style="font-family: 'Urbanist'; font-size: 2rem; margin-bottom: 7px; color: #272727;">Entre em contato</h3>
                <p style="font-family: 'Urbanist'; font-weight: 500; color: #272727; font-size: 1rem; margin-bottom: 7px; margin-top: 0;">Entre em contato para conferir a <br> disponibilidade de agenda</p>
                <div>
                    <span span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: mail; ratio: 1.5"></span>
                    <a href="" style="color: #272727; font-size: 1rem; font-family: 'Urbanist'; font-weight: 550;">contato@bernadinoantonio.com</a>
                </div>
                <div class="uk-flex uk-margin-small-top">
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: facebook; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: instagram; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: linkedin; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right fas fa-podcast" style="color: #fa8072; font-size: 1.5rem; margin-top: 5px;"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: youtube; ratio: 1.5"></span></a>
                </div>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                    <li><a href="" style="border-radius: 10px; font-size: 1rem; padding: 5px 30px; font-family: 'Urbanist';">Palestras</a></li>
                    <li><a href="" style="border-radius: 10px; font-size: 1rem; padding: 5px 30px; font-family: 'Urbanist';">Pacerias</a></li>
                    <li><a href="" style="border-radius: 10px; font-size: 1rem; padding: 5px 30px; font-family: 'Urbanist';">Empresas ou particular</a></li>
                </ul>

                <div class="uk-switcher " style="margin-top: 20px;">
                    <div class="uk-text-center">
                        <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Palestras educativas e motivacionais voltadas para saúde mental, desenvolvimento pessoal e bem-estar emocional</p>
                        <form action="">
                            <div >
                                <input  class="uk-input" placeholder="Nome" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Email" type="email">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Telefone" type="tel">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Empresa" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Assunto" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <textarea class="uk-textarea" placeholder="Mensagem" rows="7" name="" id=""></textarea>
                            </div>
                            <div>
                                <button class="uk-button uk-margin-small-top uk-width-1-1" style="border-radius: 10px; background-color: #fa8072; color: white; font-family: 'Urbanist';">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="uk-text-center">
                        <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Parcerias com empresas, instituições e projetos que valorizam o cuidado com a saúde mental e o crescimento humano</p>
                        <form action="">
                            <div >
                                <input  class="uk-input" placeholder="Nome" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Email" type="email">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Telefone" type="tel">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Empresa" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Assunto" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <textarea class="uk-textarea" placeholder="Mensagem" rows="7" name="" id=""></textarea>
                            </div>
                            <div>
                                <button class="uk-button uk-margin-small-top uk-width-1-1" style="border-radius: 10px; background-color: #fa8072; color: white; font-family: 'Urbanist';">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="uk-text-center">
                        <p style="font-size: 1rem; font-family: 'Urbanist'; font-weight: 500; color: #272727; margin-bottom: 20px;">Atendimentos e serviços personalizados para empresas, equipas ou indivíduos, de acordo com cada necessidade</p>
                        <form action="">
                            <div >
                                <input  class="uk-input" placeholder="Nome" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Email" type="email">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Telefone" type="tel">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Empresa" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <input  class="uk-input" placeholder="Assunto" type="text">
                            </div>
                            <div class="uk-margin-small-top">
                                <textarea class="uk-textarea" placeholder="Mensagem" rows="7" name="" id=""></textarea>
                            </div>
                            <div>
                                <button class="uk-button uk-margin-small-top uk-width-1-1" style="border-radius: 10px; background-color: #fa8072; color: white; font-family: 'Urbanist';">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
