<div class="uk-section" style="background-color: #f5f5dc;">
    <div class="uk-container">
        <h2 class="uk-margin-large-bottom uk-text-center" style="font-family: 'Urbanist'; font-size: 4rem; font-weight: bold; color: #fa8072;">Pimeiros passos de transformacao.</h2>
        <div class="uk-child-width-1-2@l uk-grid">
            <div>
                <h3 style="font-family: 'Urbanist'; font-size: 2rem; margin-bottom: 7px; color: #272727;">Entre em contato</h3>
                <p style="font-family: 'Urbanist'; font-weight: 500; color: #272727; font-size: 1rem; margin-bottom: 7px; margin-top: 0;">Entre em contato para conferir a <br> disponibilidade de agenda</p>
                <div>
                    <span span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: mail; ratio: 1.5"></span>
                    <a href="" style="color: #272727; font-size: 1rem; font-family: 'Urbnist'; font-weight: 550;">contato@bernadinoantonio.com</a>
                </div>
                <div class="uk-flex uk-margin-small-top">
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: facebook; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: instagram; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: linkedin; ratio: 1.5"></span></a>
                    <a href=""><span class="uk-margin-small-right" style="color: #fa8072;" uk-icon="icon: youtube; ratio: 1.5"></span></a>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>