<div id="sobre-bernadino" class="uk-section uk-padding-remove-bottom" style="background-color: #012933;">
    <div class="uk-container">
        <div class="uk-child-width-1-2@l uk-child-width-1-2@s uk-child-width-1-2@m uk-grid">

            <div class="text-servico reveal-fade" uk-scrollspy="cls: reveal-active; delay: 100">
                <div class="uk-card ">

                    <h3 style="font-size: 2.2rem; font-family: 'sora'; text-transform: uppercase; color: #a47b67;">
                        Sobre o Dr. Bernardino António
                    </h3>

                    <p style="font-size: 1rem;">
                        <strong>Médico Especialista em Medicina do Trabalho</strong> pela Universidade Nova de Lisboa,
                        Coach e Treinador de Inteligência Emocional, certificado pela Sociedade Brasileira de Inteligência
                        Emocional e pela Associação Portuguesa de Inteligência Emocional.
                    </p>

                    <p style="font-size: 1rem;">
                        É também <strong>Treinador de Gestão do Stress</strong>, certificado pela
                        <strong>ISMA (International Stress Management Association – EUA/Canadá)</strong>,
                        da qual é membro. Paralelamente, possui um
                        <strong>MBA em Felicidade Corporativa</strong> pela Happiness Business School,
                        em Portugal.
                    </p>

                    <p style="font-size: 1rem;">
                        Com <strong>16 anos de experiência</strong> em intervenções nos ambientes corporativos,
                        tornou-se um incansável promotor e educador da
                        <strong>saúde mental no trabalho</strong>, sendo o idealizador do
                        <strong>Movimento Onda Branca</strong>, focado em treinamentos e na implementação
                        de programas corporativos de saúde mental, bem-estar e qualidade de vida.
                    </p>

                </div>
            </div>

            <div class="img-col reveal-fade card uk-flex-first@s uk-flex-first@l uk-flex-first@m"
                 uk-scrollspy="cls: reveal-active; delay: 100">

                <img
                    src="imagens/bernardino.png" width="550"
                    alt="Dr. Bernardino António, Médico Especialista em Medicina do Trabalho"
                >

            </div>

        </div>
    </div>
</div>