.titulo{
    font-family: "Urbanist";
    font-size: 2.6rem;
}

.hero-wrapper {
  position: relative;
}

.floating-card {
  bottom: -70px; /* metade fora do hero */
  left: 58%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.card-box {
  background-color: #f5f5dc;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.uk-card-title{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Urbanist";
    color: #272727;
    text-align: left;
}